<script>
  $('#new').attr('href', '{{new_resource_path .Resource}}');
</script>

<div id="article" class="wrapper">
  <section class="admin-user-edit">
    <h3 class="page-header">Edit Article</h3>

    {{render "shared/errors"}}

    <form class="form" action="{{url_for .Result}}" method="POST" enctype="multipart/form-data">
      {{render_form .Result edit_sections}}

      <button class="btn btn-primary cyan" type="submit">{{t "qor_admin.save" "Save"}}</button>
      <a class="btn btn-gray" type="submit" href="/admin/articles">{{t "qor_admin.cancel" "Cancel"}}</a>
    </form>

    <form action="{{url_for .Result}}" method="POST">
      <input name="_method" value="DELETE" type="hidden">

      <button class="btn btn-red" type="submit">{{t "qor_admin.delete" "Delete"}}</button>
    </form>
  </section>
</div>
