aussie*
*.csv
*.meta.dat
*.esproj/
*.sublime-project
*.sublime-workspace
*.swp
*.zip
*.todo
*cscope*
workspace.vim
.DS_Store
.rf
/tmp
a.out
dump
*.dat
.vagrant
.env
.sass-cache/
*.css.map
*.map
.css.map
.map
_vendor
local.json
node_modules/
config/prod.json
config/test.json
public/system
