{{define "time_selector"}}
<!-- Template Data: {Name string, Value string} -->
  <select class="select time-select" name="{{.Name}}">
    <option value="" {{if eq .Value ""}}selected{{end}}>––:––</option>
    <option value="04:00" {{if eq .Value "04:00"}}selected{{end}}>4:00 am</option>
    <option value="04:15" {{if eq .Value "04:15"}}selected{{end}}>4:15 am</option>
    <option value="04:30" {{if eq .Value "04:30"}}selected{{end}}>4:30 am</option>
    <option value="04:45" {{if eq .Value "04:45"}}selected{{end}}>4:45 am</option>
    <option value="05:00" {{if eq .Value "05:00"}}selected{{end}}>5:00 am</option>
    <option value="05:15" {{if eq .Value "05:15"}}selected{{end}}>5:15 am</option>
    <option value="05:30" {{if eq .Value "05:30"}}selected{{end}}>5:30 am</option>
    <option value="05:45" {{if eq .Value "05:45"}}selected{{end}}>5:45 am</option>
    <option value="06:00" {{if eq .Value "06:00"}}selected{{end}}>6:00 am</option>
    <option value="06:15" {{if eq .Value "06:15"}}selected{{end}}>6:15 am</option>
    <option value="06:30" {{if eq .Value "06:30"}}selected{{end}}>6:30 am</option>
    <option value="06:45" {{if eq .Value "06:45"}}selected{{end}}>6:45 am</option>
    <option value="07:00" {{if eq .Value "07:00"}}selected{{end}}>7:00 am</option>
    <option value="07:15" {{if eq .Value "07:15"}}selected{{end}}>7:15 am</option>
    <option value="07:30" {{if eq .Value "07:30"}}selected{{end}}>7:30 am</option>
    <option value="07:45" {{if eq .Value "07:45"}}selected{{end}}>7:45 am</option>
    <option value="08:00" {{if eq .Value "08:00"}}selected{{end}}>8:00 am</option>
    <option value="08:15" {{if eq .Value "08:15"}}selected{{end}}>8:15 am</option>
    <option value="08:30" {{if eq .Value "08:30"}}selected{{end}}>8:30 am</option>
    <option value="08:45" {{if eq .Value "08:45"}}selected{{end}}>8:45 am</option>
    <option value="09:00" {{if eq .Value "09:00"}}selected{{end}}>9:00 am</option>
    <option value="09:15" {{if eq .Value "09:15"}}selected{{end}}>9:15 am</option>
    <option value="09:30" {{if eq .Value "09:30"}}selected{{end}}>9:30 am</option>
    <option value="09:45" {{if eq .Value "09:45"}}selected{{end}}>9:45 am</option>
    <option value="10:00" {{if eq .Value "10:00"}}selected{{end}}>10:00 am</option>
    <option value="10:15" {{if eq .Value "10:15"}}selected{{end}}>10:15 am</option>
    <option value="10:30" {{if eq .Value "10:30"}}selected{{end}}>10:30 am</option>
    <option value="10:45" {{if eq .Value "10:45"}}selected{{end}}>10:45 am</option>
    <option value="11:00" {{if eq .Value "11:00"}}selected{{end}}>11:00 am</option>
    <option value="11:15" {{if eq .Value "11:15"}}selected{{end}}>11:15 am</option>
    <option value="11:30" {{if eq .Value "11:30"}}selected{{end}}>11:30 am</option>
    <option value="11:45" {{if eq .Value "11:45"}}selected{{end}}>11:45 am</option>
    <option value="12:00" {{if eq .Value "12:00"}}selected{{end}}>12:00 pm</option>
    <option value="12:15" {{if eq .Value "12:15"}}selected{{end}}>12:15 pm</option>
    <option value="12:30" {{if eq .Value "12:30"}}selected{{end}}>12:30 pm</option>
    <option value="12:45" {{if eq .Value "12:45"}}selected{{end}}>12:45 pm</option>
    <option value="13:00" {{if eq .Value "13:00"}}selected{{end}}>1:00 pm</option>
    <option value="13:15" {{if eq .Value "13:15"}}selected{{end}}>1:15 pm</option>
    <option value="13:30" {{if eq .Value "13:30"}}selected{{end}}>1:30 pm</option>
    <option value="13:45" {{if eq .Value "13:45"}}selected{{end}}>1:45 pm</option>
    <option value="14:00" {{if eq .Value "14:00"}}selected{{end}}>2:00 pm</option>
    <option value="14:15" {{if eq .Value "14:15"}}selected{{end}}>2:15 pm</option>
    <option value="14:30" {{if eq .Value "14:30"}}selected{{end}}>2:30 pm</option>
    <option value="14:45" {{if eq .Value "14:45"}}selected{{end}}>2:45 pm</option>
    <option value="15:00" {{if eq .Value "15:00"}}selected{{end}}>3:00 pm</option>
    <option value="15:15" {{if eq .Value "15:15"}}selected{{end}}>3:15 pm</option>
    <option value="15:30" {{if eq .Value "15:30"}}selected{{end}}>3:30 pm</option>
    <option value="15:45" {{if eq .Value "15:45"}}selected{{end}}>3:45 pm</option>
    <option value="16:00" {{if eq .Value "16:00"}}selected{{end}}>4:00 pm</option>
    <option value="16:15" {{if eq .Value "16:15"}}selected{{end}}>4:15 pm</option>
    <option value="16:30" {{if eq .Value "16:30"}}selected{{end}}>4:30 pm</option>
    <option value="16:45" {{if eq .Value "16:45"}}selected{{end}}>4:45 pm</option>
    <option value="17:00" {{if eq .Value "17:00"}}selected{{end}}>5:00 pm</option>
    <option value="17:15" {{if eq .Value "17:15"}}selected{{end}}>5:15 pm</option>
    <option value="17:30" {{if eq .Value "17:30"}}selected{{end}}>5:30 pm</option>
    <option value="17:45" {{if eq .Value "17:45"}}selected{{end}}>5:45 pm</option>
    <option value="18:00" {{if eq .Value "18:00"}}selected{{end}}>6:00 pm</option>
    <option value="18:15" {{if eq .Value "18:15"}}selected{{end}}>6:15 pm</option>
    <option value="18:30" {{if eq .Value "18:30"}}selected{{end}}>6:30 pm</option>
    <option value="18:45" {{if eq .Value "18:45"}}selected{{end}}>6:45 pm</option>
    <option value="19:00" {{if eq .Value "19:00"}}selected{{end}}>7:00 pm</option>
    <option value="19:15" {{if eq .Value "19:15"}}selected{{end}}>7:15 pm</option>
    <option value="19:30" {{if eq .Value "19:30"}}selected{{end}}>7:30 pm</option>
    <option value="19:45" {{if eq .Value "19:45"}}selected{{end}}>7:45 pm</option>
    <option value="20:00" {{if eq .Value "20:00"}}selected{{end}}>8:00 pm</option>
    <option value="20:15" {{if eq .Value "20:15"}}selected{{end}}>8:15 pm</option>
    <option value="20:30" {{if eq .Value "20:30"}}selected{{end}}>8:30 pm</option>
    <option value="20:45" {{if eq .Value "20:45"}}selected{{end}}>8:45 pm</option>
    <option value="21:00" {{if eq .Value "21:00"}}selected{{end}}>9:00 pm</option>
    <option value="21:15" {{if eq .Value "21:15"}}selected{{end}}>9:15 pm</option>
    <option value="21:30" {{if eq .Value "21:30"}}selected{{end}}>9:30 pm</option>
    <option value="21:45" {{if eq .Value "21:45"}}selected{{end}}>9:45 pm</option>
    <option value="22:00" {{if eq .Value "22:00"}}selected{{end}}>10:00 pm</option>
    <option value="22:15" {{if eq .Value "22:15"}}selected{{end}}>10:15 pm</option>
    <option value="22:30" {{if eq .Value "22:30"}}selected{{end}}>10:30 pm</option>
    <option value="22:45" {{if eq .Value "22:45"}}selected{{end}}>10:45 pm</option>
    <option value="23:00" {{if eq .Value "23:00"}}selected{{end}}>11:00 pm</option>
    <option value="23:15" {{if eq .Value "23:15"}}selected{{end}}>11:15 pm</option>
    <option value="23:30" {{if eq .Value "23:30"}}selected{{end}}>11:30 pm</option>
    <option value="23:45" {{if eq .Value "23:45"}}selected{{end}}>11:45 pm</option>
  </select>
{{end}}