{{define "content"}}
<article id="about" class="article wrapper clearfix">
<h1>About Us</h1>
<section class="section intro fl">
  <p>Aussie Parking is an Australian Owned & Operated offsite airport parking solution which offers customers a fast and affordable parking facility as an alternative to the Gold Coast Airport.</p>
</section>
<figure class="figure fr">
  <img src="/img/voyager.png">
</figure>
<section class="section">
  <p>Long term and short term parking is available 7 days per week and our trading hours coincide with the same operating hours as Gold Coast Airport.</p>
  <p>Aussie Parking provides its customers with a free return shuttle to and from the doorstep of the airport back to the safety of your waiting vehicle.</p>
  <p>In addition, there are car detailing options whilst you are away together with the convenience of a pet drop-off area - a one stop shop for holiday goers!</p>
  <p>For the extreme car lovers, there are VIP car spaces available (limited spots & bookings essential) where by your car remains ‘untouched’ for the duration of your stay.</p>
</section>
</article>
{{end}}