{{define "content"}}
  <article class="article main">

    {{template "booking_container" .}}

    <section class="section service">
      <ul class="wrapper clearfix">
        <li class="service-item fl">
          <figure class="figure">
            <img src="/img/bicycle.svg">
          </figure>
          <h3>MOTOR BIKE FRIENDLY</h3>
          <p>Motor bikes park for a special flat rate. Check out our rates on the booking page.</p>
        </li>
        <li class="service-item fl">
          <figure class="figure">
            <img src="/img/clean.svg">
          </figure>
          <h3>CAR DETAILING</h3>
          <p>We offer full car detailing services while you’re away, from a simple interior clean and exterior car wash to a full showroom shine.</p>
        </li>
        <li class="service-item fl">
          <figure class="figure">
            <img src="/img/bus.svg">
          </figure>
          <h3>FREE SHUTTLE BUS</h3>
          <p>Our free on-demand Shuttle Bus will transfer you and your luggage to the Gold Coast Airport terminal in 5 minutes.</p>
        </li>
        <li class="service-item fl">
          <figure class="figure">
            <img src="/img/lock.svg">
          </figure>
          <h3>SAFE &amp; SECURE</h3>
          <p>Our parking facilities are secure and perfectly suited to short and long term parking for Coolangatta Airport on the Gold Coast.</p>
        </li>
      </ul>
    </section>
  </article>
{{end}}
