{{define "content"}}
<article id="location" class="article wrapper clearfix">
  <hgroup class="hgroup fl">
    <h1>Location</h1>
    <h2>Directions to Our Office</h2>
    <a class="map-link" href="javascript:;">VIEW DIRECTIONS ON THE GOOGLE MAP →</a>
  </hgroup>

  <div class="fr">
    <div id="google-map"></div>
    <div id="loading-indicator" class="hidden"></div>
  </div>

  <section class="section fl">
    <h3>Travelling South on the M1</h3>
    <p>Head South towards the Gold Cost Airport as usual on the M1. Pass through the Tugun-Bypass-Tunnel. (Please be in the left lane). Once you exit the tunnel, immediately take the exit written Tweed Heads/Coolangatta Exit. Be in the right lane. You will come to a set of lights. Continue on straight through the light until you reach Kennedy Drive. Turn left into Kennedy Drive and then then take the next left at the gas station into Ducat Street. Follow this road for approximately 1km until you get to Ourimbah road. Turn left into Ourimbah road and follow Ourimbah road all the way past the Surfside bus depot on your left. Then simply look for the green “Aussie Parking” sign on your right.</p>
  </section>
  <section class="section fl">
    <h3>Travelling north on the M1</h3>
    <p>Head North towards the Gold Cost Airport as usual on the M1. Just after crossing Terranora Creek, take the next exit on your left to Kennedy Drive. Turn right at the next roundabout and follow this road to the next set of traffic lights. Turn left at the lights into Ducat Street. Follow this road for approximately 1km until you get to Ourimbah road. Turn left into Ourimbah road and follow Ourimbah road all the way past the Surfside bus depot on your left. Then simply look for the green “Aussie Parking” sign on your right.</p>
  </section>
  <section class="section fr">
    <h3>Travelling south on the Gold Coast Highway</h3>
    <p>As you approach to the Gold Coast Airport on your right, you will want to be in the 2nd left lane from the left. This is a divided road, follow this for a couple of hundred meters and at the next set of traffic lights please turn right into Miles street. You will go up over a hill and immediately at the bottom of the other side hill is a small round about. Turn right here into Ourimbah road and follow Ourimbah road all the way past the Surfside bus depot on your left. Then simply look for the green “Aussie Parking” sign on your right.</p>
  </section>
</article>
{{end}}