{{define "content"}}
<article id="terms-and-conditions" class="article wrapper clearfix">
<h1>Aussie Parking<br>Terms and Conditions</h1>
<section class="section intro">
  <p>These are the terms by which you agree to use the Aussie Parking service.</p>
</section>
<section class="section">
  <ol>
    <li>Cancellations made within 24 hours prior to the commencement of the booking period are non-refundable.</li>
    <li>Cancellations made within 24 hours prior to the commencement of the booking period due to a flight being cancelled by the airline maybe refunded subject to a $10 administration/cancellation fee.</li>
    <li>Cancellations made with at least 24 hours notice prior to the commencement of the booking period, may be refunded subject to a $10 administration/cancellation fee.</li>
    <li>Amendments to your booking can be made free of charge at anytime up to 24 hours before the start of the booking period by emailing bookings@aussieparking.com.au or by contacting our customer service manager on 07 5599 3331.</li>
    <li>There are no refunds if you return earlier than your original booking however we will issue a credit note to the value of the days not used. Credit notes are non-transferable and must be used within 6 months of the date of issue.</li>
    <li>You agree to notify Aussie Parking immediately if your return date changes during your original booking period.</li>
    <li>It is your responsibility to meet your check-in time at Aussie Parking and allow sufficient time for unexpected delays, traffic congestion, roadworks, your own vehicle breakdown etc. We will have no liability to you if you miss your flight for these reasons.</li>
    <li>Your entry into and use of Aussie Parking’s parking facilities is made at your own risk. Aussie Parking is not liable for any theft or loss of valuables or any personal belongings left in the vehicle.</li>
    <li>Aussie Parking reserves the right to reject any vehicle to use our facilities for any reason and at our sole discretion.</li>
    <li>“Aussie Parking” and “Aussie Airport Parking” are the trading names of Uniquely Pty Ltd.</li>
  </ol>
</section>
</article>
{{end}}