{{define "content"}}
  <article class="article wrapper" id="thanks">
    <h1>Thank you, {{.CurrentOrder.Profile.FirstName}}!</h1>
    <p>Your booking request has been received and an email confirmation has been sent to your inbox.</p>
    <p>(Be sure to add us to your contacts list so our confirmation emails don’t end up in your Trash or Spam!)</p>
    <p><strong>Please arrive at our office approximately 20 minutes before you wish to be at the airport.</strong></p>
    <div class="notice">
      <strong>PLEASE NOTE:</strong>
      <p>Aussie Parking’s trading hours operates to QLD time (NOT Daylight Savings)</p>
    </div>
    <p>Our shuttle bus will transfer you to and from the Gold Coast airport at no additional charge.</p>
    <p>Our address is: <strong>56 Ourimbah Road, Tweed Heads (<a href="/location">Google Map</a>)</strong></p>
    <p>Please do not hesitate to call us on <strong>07-5599-3331</strong> if you need directions or have any questions prior to your trip.</p>
    <p class="pdf-link"><i></i><a href="/AussieAirportParking-Ourinmbah-Directions.pdf"><strong>Download PDF map and directions</strong></a></p>
    <p>Thank you for booking with us. We look forward to seeing you.</p>
    <p>Best regards,</p>
    <p>The Aussie Airport Parking Team</p>
  </article>
{{end}}
