<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Aussie Parking</title>
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <meta name="copyright" content="" />
  <meta name="robots" content="all" />

  <meta content="true" name="HandheldFriendly">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="black" name="apple-mobile-web-app-status-bar-style">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">

  <link href="/appicon.png" rel="apple-touch-icon">
  <link href="/appicon-x2.png" rel="apple-touch-icon-precomposed" sizes="114x114">
  <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico" />

  <link rel="stylesheet" type="text/css" href="/css/lib.css" />
  <link rel="stylesheet" type="text/css" href="/css/app.css" />

  <script src="/js/admin.js"></script>

  {{to_html "<!--[if lt IE 9]>"}}
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  {{to_html "<![endif]-->"}}
</head>

<body>
  <header id="header" class="border-box">
    <div class="wrapper clearfix">

      <a id="menu-trigger" href="javascript:;"></a>
      <section class="section brand">
        <div class="brand-inner">
          <a href="/">
            <hgroup class="hgroup">
              <h1>AUSSIE PARKING</h1>
              <small>Fast. Secure. Smart.</small>
            </hgroup>
          </a>
        </div>
      </section>
      <nav id="menu" class="nav menu invisi clearfix">
        <section class="section call fr">
          <h2>Gold Coast Airport Parking Easy!</h2>
          <a class="tel" href="tel:07-5599-3331"><span>Call: </span><strong>07-5599-3331</strong></a>
        </section>


      </nav>
    </div>
  </header>

  {{template "content" .}}
</body>
</html>