<section class="section clearfix datepicker-wrapper">
  <div class="field-wrap fl date">
    <label>From</label>
    <input class="datepicker from" placeholder="Select Date" type="text" name="Start">
  </div>

  <div class="field-wrap fl date">
    <label>To</label>
    <input class="datepicker to" placeholder="Select Date" type="text" name="End">
  </div>

  <div class="clearfix clear weekdays">
    <label class="week-item fl"><input type="checkbox" name="weekdays" value="1" checked="checked"><em>Mon</em></label>
    <label class="week-item fl"><input type="checkbox" name="weekdays" value="2" checked="checked"><em>Tue</em></label>
    <label class="week-item fl"><input type="checkbox" name="weekdays" value="3" checked="checked"><em>Wed</em></label>
    <label class="week-item fl"><input type="checkbox" name="weekdays" value="4" checked="checked"><em>Thu</em></label>
    <label class="week-item fl"><input type="checkbox" name="weekdays" value="5" checked="checked"><em>Fri</em></label>
    <label class="week-item fl"><input type="checkbox" name="weekdays" value="6"><em>Sat</em></label>
    <label class="week-item fl"><input type="checkbox" name="weekdays" value="0"><em>Sun</em></label>
  </div>
</section>